<h1>Editing preference</h1>

<%= render "form", preference: @preference %>

<br>

<div>
  <%= link_to "Show this preference", @preference %> |
  <%= link_to "Back to preferences", preferences_path %>
</div>
